---
layout: default
bodyClass: "page-teams"
---

<div class="container pt-6 pb-6">
    <h1>WMC 2022 Organizers<h1>
    <h2>Program Co-Chairs</h2>
    <div class="row">
        {% assign promoted_teams = site.team | where: "chair", true | sort: "weight" %}
        {% for team in promoted_teams %}
        <div class="col-12 col-md-6 mb-2">
            <div class="team team-summary team-summary-large">
                {% if team.image %}
                <div class="team-image">
                    <img width="90" height="90" alt="{{ team.title }}" class="img-fluid mb-2" src="{{ team.image | relative_url }}" />
                </div>
                {% endif %}
                <div class="team-meta">
                    <a target="_blank" href="{{ team.linkedinurl }}" rel="noreferrer"><h2 class="team-name">{{ team.title }}</h2></a>
                    <p class="team-description">{{ team.jobtitle }}</p>
                    {% if team.email %}
                    <p><em style="text-transform:lowercase; font-size:14px">{{ team.email }}</em></p>
                    {% endif %}
                </div>
                <div class="team-content">{{ team.content | truncate: 120 }}</div>
            </div>
        </div>
        {% endfor %}
    </div>
    
    <h2>Publicity Chair</h2>
    <div class="row pt-6 pb-6">
        {% assign teams = site.team | where: "publicity", true | sort: "weight" %}
        {% for team in teams %}
        <div class="col-12 col-md-4 mb-3">
            <div class="team team-summary">
                {% if team.image %}
                <div class="team-image">
                    <img width="60" height="60" alt="{{ team.title }}" class="img-fluid mb-2" src="{{ team.image | relative_url }}" />
                </div>
                {% endif %}
                <div class="team-meta">
                    <a target="_blank" href="{{ team.linkedinurl }}" rel="noreferrer"><h2 class="team-name">{{ team.title }}</h2></a>
                    <p class="team-description">{{ team.jobtitle }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    
    <h2>Steering Committee</h2>
    <div class="row pt-6 pb-6">
        {% assign teams = site.team | where: "steering", true | sort: "weight" %}
        {% for team in teams %}
        <div class="col-12 col-md-4 mb-3">
            <div class="team team-summary">
                {% if team.image %}
                <div class="team-image">
                    <img width="60" height="60" alt="{{ team.title }}" class="img-fluid mb-2" src="{{ team.image | relative_url }}" />
                </div>
                {% endif %}
                <div class="team-meta">
                    <h2 class="team-name">{{ team.title }}</h2>
                    <p class="team-description">{{ team.jobtitle }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    
    <h2>Program Committee Members</h2>
    <div class="row pt-6 pb-6">
        {% assign teams = site.team | where: "tpc", true | sort: "weight" %}
        {% for team in teams %}
        <div class="col-12 col-md-4 mb-3">
            <div class="team team-summary">
                {% if team.image %}
                <div class="team-image">
                    <img width="60" height="60" alt="{{ team.title }}" class="img-fluid mb-2" src="{{ team.image | relative_url }}" />
                </div>
                {% endif %}
                <div class="team-meta">
                    <h2 class="team-name">{{ team.title }}</h2>
                    <p class="team-description">{{ team.jobtitle }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
